.about {
  right: 35px;
  top: 45px;
  position: fixed;
  z-index: 70;
    transition: 0.2s;

  p {
    color: black;
  }
}

.about:hover {
    cursor: pointer;
}

.about-background {
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    background: #fff;
    position: fixed;
    opacity: 0;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
    
   /* &.opened {
    z-index: 81;
    animation-name: about-background-opened;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
  }

  &.closed {
    z-index: 81;
    animation-name: about-background-closed;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
  } */
}

.btn-about-animation { 
    
    
  &.opened {
    z-index: 80;
    animation-name: btn-about-opening;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    background: #ffffff;
    color: #ffffff;
      &:hover {
        color: #ffffff;
        background: #ffffff;    
      }
  }

  &.closed {
    z-index: 80;
    animation-name: btn-about-opening;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
  }
}

/*
   ===== Начинка в "О нас" =====
*/

.about-header {
    text-align: center;
}

.about-normal {
    margin-top: 100px;
    color: black;
}

.profile {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dany {
    background-image: url(../img/4.jpg);
}

.micky {
    background-image: url(../img/5.jpg);
}

.photo {
   border: 1px solid black;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.danya-prof {
    background-image: url(../img/profile/danya.jpg);
}

.misha-prof {
    background-image: url(../img/profile/misha.jpg);
}

.name-prof {
    color: black;
    position: relative;
}

.text-prof {
    color: black;
    position: relative;
}

.social {
    border: 0;
    position: absolute;
}

.soc {
    transition: 0.2s;
}

.icon-vk:hover {
    color: #45668e;
    transition: 0.2s;
}

.icon-insta:hover {
    color: #e1306c;
    transition: 0.2s;
}

.social table td a {
    color: black;
}