.about {
  right: 30px;
  top: 50px;
  position: fixed;
  z-index: 70;
    transition: 0.2s;

  p {
    font-size: 30px;
    color: white;
  }
}

.about:hover {
    transform: scale(1.15, 1.15);
    -ms-transform: scale(1.15, 1.15);
    -moz-transform: scale(1.15, 1.15);
    -webkit-transform: scale(1.15, 1.15);
    right: 35px;
    top: 48px;
    transition: 0.35s;
    -moz-transition: 0.35s;
    -webkit-transition: 0.35s;
    cursor: pointer;
}