@charset "UTF-8";
@font-face {
  font-family: "DINPro";
  src: url("../fonts/DINPro.otf?#iefix") format("opentype");
  font-weight: normal;
  font-style: normal; }

/* line 8, C:/Portfolio-old-style/assets/css/base.scss */
#section-0 {
  background-image: url(../img/02179_piertonowhere_2560x1600.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

/* line 14, C:/Portfolio-old-style/assets/css/base.scss */
#section-1 {
  background-image: url(../img/56f511afcd214153ad4d16e0.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

/* line 20, C:/Portfolio-old-style/assets/css/base.scss */
#section-2 {
  background-image: url(../img/25135.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

/* line 26, C:/Portfolio-old-style/assets/css/base.scss */
.section {
  color: #fff; }
  /* line 27, C:/Portfolio-old-style/assets/css/base.scss */
  .section:before {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.6); }

/* line 41, C:/Portfolio-old-style/assets/css/base.scss */
p, label {
  font-size: 25pt;
  font-family: DINPro, GT Walsheim Pro, sans-serif;
  color: #fff;
  margin: 0; }

/* line 48, C:/Portfolio-old-style/assets/css/base.scss */
h1 {
  font-size: 84px; }

/* line 52, C:/Portfolio-old-style/assets/css/base.scss */
h2 {
  font-size: 46px; }

/* line 56, C:/Portfolio-old-style/assets/css/base.scss */
h1, h2, h3, h4 {
  font-family: DINPro, GT Walsheim Pro, sans-serif; }

/* line 60, C:/Portfolio-old-style/assets/css/base.scss */
.container {
  width: 500px;
  margin: 50px auto; }

/* line 65, C:/Portfolio-old-style/assets/css/base.scss */
.text-normal {
  font-weight: 300;
  margin-top: 150px;
  font-size: 55px;
  margin-bottom: 15px; }

/* line 72, C:/Portfolio-old-style/assets/css/base.scss */
.text-in-write {
  color: black;
  font-size: 15pt;
  padding: 0 10px; }

/* line 78, C:/Portfolio-old-style/assets/css/base.scss */
.text-obr {
  width: 350px;
  margin: 20px;
  margin-top: 70px;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  font-family: DINPro, sans-serif;
  font-size: 15pt;
  text-align: center;
  padding: 8px 9px; }
  /* line 90, C:/Portfolio-old-style/assets/css/base.scss */
  .text-obr:focus {
    border-bottom: 2px solid #B18340; }

/* line 95, C:/Portfolio-old-style/assets/css/base.scss */
.mail-obr {
  margin-top: 20px; }

/* line 99, C:/Portfolio-old-style/assets/css/base.scss */
textarea {
  width: 500px;
  height: 50px;
  margin: 40px 20px;
  border: 0;
  border-bottom: 1.5px solid black;
  outline: 0;
  font-family: DINPro, sans-serif;
  font-size: 15pt;
  padding: 8px 9px; }
  /* line 110, C:/Portfolio-old-style/assets/css/base.scss */
  textarea:focus {
    border: 0;
    border-bottom: 1.5px solid #B18340; }

/* line 116, C:/Portfolio-old-style/assets/css/base.scss */
.btn-send {
  border: 2px solid black;
  border-radius: 35px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -120px;
  width: 240px;
  height: 54px;
  background: #fff;
  text-decoration: none;
  font-family: GT Walsheim Pro;
  font-size: 14pt;
  transition: 0.5s; }
  /* line 131, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-send:hover {
    background: #B18340;
    transition: 0.5s;
    cursor: pointer; }

/* line 138, C:/Portfolio-old-style/assets/css/base.scss */
a {
  text-decoration: none;
  color: #fff; }

/* line 143, C:/Portfolio-old-style/assets/css/base.scss */
.intro {
  display: table;
  width: 100%;
  margin-top: 0px; }
  /* line 148, C:/Portfolio-old-style/assets/css/base.scss */
  .intro h1 {
    display: table-cell;
    vertical-align: middle; }

/* line 154, C:/Portfolio-old-style/assets/css/base.scss */
.go_to {
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -130px; }

/* line 161, C:/Portfolio-old-style/assets/css/base.scss */
.section {
  text-align: center; }

/* line 166, C:/Portfolio-old-style/assets/css/base.scss */
.controlArrow.prev {
  left: 50px; }

/* line 170, C:/Portfolio-old-style/assets/css/base.scss */
.controlArrow.next {
  right: 50px; }

/* line 175, C:/Portfolio-old-style/assets/css/base.scss */
#infoMenu li a {
  color: #fff; }

/* line 179, C:/Portfolio-old-style/assets/css/base.scss */
.btn-triangle-left {
  position: fixed;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  border-top: 400px solid rgba(255, 255, 255, 0.8);
  border-right: 400px solid transparent;
  z-index: 70; }

/* line 190, C:/Portfolio-old-style/assets/css/base.scss */
.btn-triangle-right {
  position: fixed;
  width: 80px;
  height: 80px;
  background-color: #fff;
  right: 25px;
  bottom: 30px;
  border-radius: 100%;
  z-index: 70;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  text-align: center;
  line-height: 90px; }
  /* line 205, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-triangle-right:hover {
    cursor: pointer; }
  /* line 209, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-triangle-right .icon {
    font-size: 38px;
    vertical-align: middle; }
  /* line 214, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-triangle-right:hover {
    /*Покачивание
    -webkit-animation: swing 1.5s ease;
    animation: swing 1.5s ease;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;*/ }

/* line 223, C:/Portfolio-old-style/assets/css/base.scss */
.about {
  right: 25px;
  top: 50px;
  position: fixed;
  z-index: 70; }
  /* line 229, C:/Portfolio-old-style/assets/css/base.scss */
  .about p {
    font-size: 30px;
    margin-right: 16px; }

/* line 235, C:/Portfolio-old-style/assets/css/base.scss */
.logo {
  position: fixed;
  z-index: 80;
  top: 50px;
  left: 50px; }

/* line 242, C:/Portfolio-old-style/assets/css/base.scss */
.write {
  width: 70px;
  height: 70px;
  position: fixed;
  z-index: 80;
  right: 20px;
  bottom: 20px; }

/* line 251, C:/Portfolio-old-style/assets/css/base.scss */
.go_to {
  z-index: 11;
  width: 240px;
  height: 54px;
  text-decoration: none;
  font-family: GT Walsheim Pro;
  font-size: 14pt;
  outline: none;
  background-color: white;
  border-radius: 35px;
  border-style: none;
  margin-top: 300px;
  transition: 0.5s;
  cursor: pointer; }
  /* line 266, C:/Portfolio-old-style/assets/css/base.scss */
  .go_to:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    background-color: #B18340; }

/* line 273, C:/Portfolio-old-style/assets/css/base.scss */
.crossless {
  width: 531px;
  height: 320.5px; }

/* line 278, C:/Portfolio-old-style/assets/css/base.scss */
.mindg {
  width: 700px;
  height: 700px; }

/* line 283, C:/Portfolio-old-style/assets/css/base.scss */
.arahip {
  width: 400px;
  height: 267px; }

/* line 288, C:/Portfolio-old-style/assets/css/base.scss */
.contact-background {
  background: #fff;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 0px;
  height: 0px;
  opacity: 0;
  border-top-left-radius: 100%; }
  /* line 298, C:/Portfolio-old-style/assets/css/base.scss */
  .contact-background.opened {
    z-index: 81;
    animation-name: contact-background-opened;
    animation-duration: 0.6s;
    animation-fill-mode: forwards; }
  /* line 305, C:/Portfolio-old-style/assets/css/base.scss */
  .contact-background.closed {
    z-index: 81;
    animation-name: contact-background-closed;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-direction: reverse; }

/* line 314, C:/Portfolio-old-style/assets/css/base.scss */
.btn-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.5s; }
  /* line 318, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-shadow:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #B18340;
    transition: 0.5s; }

/* line 325, C:/Portfolio-old-style/assets/css/base.scss */
.btn-contact-animation {
  position: fixed;
  width: 80px;
  height: 80px;
  opacity: 0;
  right: 25px;
  bottom: 30px;
  background: #fff;
  border-radius: 100%; }
  /* line 335, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-contact-animation.opened {
    z-index: 80;
    animation-name: btn-open;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  /* line 342, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-contact-animation.closed {
    z-index: 80;
    animation-name: btn-close;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: reverse; }

@media only screen and (min-width: 200px) {
  /* line 352, C:/Portfolio-old-style/assets/css/base.scss */
  .crossless, .mindg, .arahip {
    width: 50%;
    height: 50%; }
  /* line 357, C:/Portfolio-old-style/assets/css/base.scss */
  .go_to {
    width: 200px;
    height: 54px;
    margin-left: -110px; }
  /* line 363, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-triangle-right {
    width: 60px;
    height: 60px;
    line-height: 70px; }
    /* line 368, C:/Portfolio-old-style/assets/css/base.scss */
    .btn-triangle-right .icon {
      font-size: 30px;
      margin-bottom: 20px; }
  /* line 374, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-order-close.opened {
    width: 60px;
    height: 60px;
    right: 30px;
    top: 40px; }
  /* line 381, C:/Portfolio-old-style/assets/css/base.scss */
  .logo {
    width: 150px;
    left: 25px; }
  /* line 386, C:/Portfolio-old-style/assets/css/base.scss */
  .about p {
    font-size: 25px; }
  /* line 390, C:/Portfolio-old-style/assets/css/base.scss */
  .text-normal {
    font-size: 40px; }
  /* line 394, C:/Portfolio-old-style/assets/css/base.scss */
  .text-in-write {
    font-size: 12pt; }
  /* line 398, C:/Portfolio-old-style/assets/css/base.scss */
  .text-obr {
    width: 200px;
    font-size: 12pt;
    margin: 10px;
    margin-top: 45px; }
  /* line 405, C:/Portfolio-old-style/assets/css/base.scss */
  .mail-obr {
    margin-top: 10px; }
  /* line 409, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-send {
    width: 200px;
    height: 54px;
    margin-left: -100px; } }

@media only screen and (min-width: 500px) {
  /* line 417, C:/Portfolio-old-style/assets/css/base.scss */
  .crossless, .mindg, .arahip {
    width: 50%;
    height: 50%; }
  /* line 422, C:/Portfolio-old-style/assets/css/base.scss */
  .go_to {
    width: 240px;
    height: 54px;
    margin-left: -130px; }
  /* line 428, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-triangle-right {
    width: 80px;
    height: 80px;
    line-height: 90px; }
    /* line 433, C:/Portfolio-old-style/assets/css/base.scss */
    .btn-triangle-right .icon {
      font-size: 38px; }
  /* line 438, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-order-close.opened {
    width: 80px;
    height: 80px;
    right: 40px;
    top: 30px; }
  /* line 445, C:/Portfolio-old-style/assets/css/base.scss */
  .logo {
    width: 200px;
    left: 50px; }
  /* line 450, C:/Portfolio-old-style/assets/css/base.scss */
  .about p {
    font-size: 30px; }
  /* line 454, C:/Portfolio-old-style/assets/css/base.scss */
  .text-normal {
    font-size: 40px; }
  /* line 458, C:/Portfolio-old-style/assets/css/base.scss */
  .text-in-write {
    font-size: 12pt; }
  /* line 462, C:/Portfolio-old-style/assets/css/base.scss */
  .text-obr {
    width: 250px;
    font-size: 15pt;
    margin: 10px;
    margin-top: 45px; }
  /* line 469, C:/Portfolio-old-style/assets/css/base.scss */
  .mail-obr {
    margin-top: 10px; }
  /* line 473, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-send {
    width: 240px;
    height: 54px;
    margin-left: -120px; } }

@media only screen and (min-width: 800px) {
  /* line 481, C:/Portfolio-old-style/assets/css/base.scss */
  .crossless, .mindg, .arahip {
    width: 50%;
    height: 50%; }
  /* line 486, C:/Portfolio-old-style/assets/css/base.scss */
  .go_to {
    width: 240px;
    height: 54px;
    margin-left: -130px; }
  /* line 492, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-triangle-right {
    width: 80px;
    height: 80px;
    line-height: 90px; }
    /* line 497, C:/Portfolio-old-style/assets/css/base.scss */
    .btn-triangle-right .icon {
      font-size: 38px; }
  /* line 502, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-order-close.opened {
    width: 80px;
    height: 80px;
    right: 40px;
    top: 30px; }
  /* line 509, C:/Portfolio-old-style/assets/css/base.scss */
  .logo {
    width: 200px;
    left: 50px; }
  /* line 514, C:/Portfolio-old-style/assets/css/base.scss */
  .about p {
    font-size: 30px; }
  /* line 518, C:/Portfolio-old-style/assets/css/base.scss */
  .text-normal {
    font-size: 40px; }
  /* line 522, C:/Portfolio-old-style/assets/css/base.scss */
  .text-in-write {
    font-size: 12pt; }
  /* line 526, C:/Portfolio-old-style/assets/css/base.scss */
  .text-obr {
    width: 250px;
    font-size: 15pt;
    margin: 20px;
    margin-top: 45px; }
  /* line 533, C:/Portfolio-old-style/assets/css/base.scss */
  .mail-obr {
    margin-top: 10px; }
  /* line 537, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-send {
    width: 240px;
    height: 54px;
    margin-left: -120px; } }

@media only screen and (min-width: 1280px) {
  /* line 545, C:/Portfolio-old-style/assets/css/base.scss */
  .crossless, .mindg, .arahip {
    width: 40%;
    height: 40%; }
  /* line 550, C:/Portfolio-old-style/assets/css/base.scss */
  .go_to {
    width: 240px;
    height: 54px;
    margin-left: -130px; }
  /* line 556, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-triangle-right {
    width: 80px;
    height: 80px;
    line-height: 90px; }
    /* line 561, C:/Portfolio-old-style/assets/css/base.scss */
    .btn-triangle-right .icon {
      font-size: 38px; }
  /* line 566, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-order-close.opened {
    width: 80px;
    height: 80px;
    right: 40px;
    top: 30px; }
  /* line 573, C:/Portfolio-old-style/assets/css/base.scss */
  .logo {
    width: 200px;
    left: 50px; }
  /* line 578, C:/Portfolio-old-style/assets/css/base.scss */
  .about p {
    font-size: 30px; }
  /* line 582, C:/Portfolio-old-style/assets/css/base.scss */
  .text-normal {
    font-size: 55px; }
  /* line 586, C:/Portfolio-old-style/assets/css/base.scss */
  .text-in-write {
    font-size: 15pt; }
  /* line 590, C:/Portfolio-old-style/assets/css/base.scss */
  .text-obr {
    width: 350px;
    font-size: 15pt;
    margin: 20px;
    margin-top: 70px; }
  /* line 597, C:/Portfolio-old-style/assets/css/base.scss */
  .mail-obr {
    margin-top: 20px; }
  /* line 601, C:/Portfolio-old-style/assets/css/base.scss */
  .btn-send {
    width: 240px;
    height: 54px;
    margin-left: -120px; } }

/*# sourceMappingURL=base.css.map */