@charset "UTF-8";
@font-face {
  font-family: "DINPro";
  src: url("../fonts/DINPro.otf?#iefix") format("opentype");
  font-weight: normal;
  font-style: normal; }

/* line 8, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
#section-0 {
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

/* line 14, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
#section-1 {
  background-image: url(../img/2.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

/* line 20, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
#section-2 {
  background-image: url(../img/3.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

/* line 26, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.section {
  color: #fff; }
  /* line 27, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .section:before {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px; }

/* line 40, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
p, label {
  font-size: 25pt;
  font-family: DINPro, GT Walsheim Pro, sans-serif;
  color: #fff;
  margin: 0; }

/* line 47, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
h1 {
  font-size: 84px; }

/* line 51, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
h2 {
  font-size: 46px; }

/* line 55, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
h1, h2, h3, h4 {
  font-family: DINPro, GT Walsheim Pro, sans-serif; }

/* line 59, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.container {
  width: 500px;
  margin: 50px auto;
  margin-top: 50px; }

/* line 65, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.text-normal {
  font-weight: 300;
  /*margin-top: 150px;*/
  font-size: 52px;
  /*margin-bottom: 15px;*/ }

/* line 72, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.text-in-write {
  color: black;
  font-size: 14pt;
  padding: 0 10px; }

/* line 78, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.text-obr {
  width: 350px;
  margin: 20px;
  margin-top: 70px;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  font-family: DINPro, sans-serif;
  font-size: 15pt;
  text-align: center;
  padding: 8px 9px; }
  /* line 90, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .text-obr:focus {
    border-bottom: 2px solid #337ab7; }

/* line 95, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.mail-obr {
  margin-top: 20px; }

/* line 99, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
textarea {
  width: 500px;
  height: 30px;
  border: 0;
  border-bottom: 1.5px solid black;
  outline: 0;
  font-family: DINPro, sans-serif;
  font-size: 15pt;
  padding: 8px 9px; }
  /* line 109, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  textarea:focus {
    border: 0;
    border-bottom: 1.5px solid #337ab7; }

/* line 115, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.btn-send {
  border: 0;
  border-radius: 35px;
  width: 240px;
  height: 54px;
  text-decoration: none;
  font-family: GT Walsheim Pro;
  font-size: 14pt;
  transition: 0.5s;
  background: #337ab7;
  color: #fff;
  margin: 0 auto;
  outline: 0; }
  /* line 133, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-send:hover {
    background: #337ab7;
    transition: 0.5s;
    cursor: pointer; }

/* line 140, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
a {
  text-decoration: none;
  color: #fff; }

/* line 145, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.intro {
  display: table;
  width: 100%;
  margin-top: 0px; }
  /* line 150, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .intro h1 {
    display: table-cell;
    vertical-align: middle; }

/* line 156, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.btn-case {
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -130px; }

/* line 163, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.section {
  text-align: center; }

/* line 168, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.controlArrow.prev {
  left: 50px; }

/* line 172, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.controlArrow.next {
  right: 50px; }

/* line 177, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
#infoMenu li a {
  color: #fff; }

/* line 181, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.btn-triangle-left {
  position: fixed;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  border-top: 400px solid rgba(255, 255, 255, 0.8);
  border-right: 400px solid transparent;
  z-index: 70; }

/* line 192, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.btn-triangle-right {
  position: fixed;
  width: 80px;
  height: 80px;
  background-color: #fff;
  right: 25px;
  bottom: 30px;
  border-radius: 100%;
  z-index: 70;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  text-align: center;
  line-height: 90px; }
  /* line 207, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-triangle-right:hover {
    cursor: pointer; }
  /* line 211, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-triangle-right .icon {
    font-size: 38px;
    vertical-align: middle; }
  /* line 216, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-triangle-right:hover {
    /*Покачивание
    -webkit-animation: swing 1.5s ease;
    animation: swing 1.5s ease;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;*/ }

/* line 227, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.logo {
  position: fixed;
  z-index: 80;
  top: 50px;
  left: 50px; }

/* line 234, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.write {
  width: 70px;
  height: 70px;
  position: fixed;
  z-index: 80;
  right: 20px;
  bottom: 20px; }

/* line 243, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.btn-case {
  z-index: 11;
  width: 240px;
  height: 54px;
  text-decoration: none;
  font-family: GT Walsheim Pro;
  font-size: 14pt;
  outline: none;
  background-color: white;
  border-radius: 35px;
  border-style: none;
  margin-top: 300px;
  transition: 0.5s;
  cursor: pointer; }
  /* line 258, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-case:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    background-color: #337ab7; }

/* line 265, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.crossless {
  width: 424.8px;
  height: 256.4px; }

/* line 270, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.mindg {
  width: 500px;
  height: 500px; }

/* line 275, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.arahip {
  width: 300px;
  height: 200px; }

/* line 280, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.contact-background {
  background: #fff;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 0px;
  height: 0px;
  opacity: 0;
  border-top-left-radius: 100%; }
  /* line 290, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .contact-background.opened {
    z-index: 81;
    animation-name: contact-background-opened;
    animation-duration: 0.6s;
    animation-fill-mode: forwards; }
  /* line 297, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .contact-background.closed {
    z-index: 81;
    animation-name: contact-background-closed;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-direction: reverse; }

/* line 306, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.btn-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.5s; }
  /* line 310, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-shadow:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #337ab7;
    transition: 0.5s;
    color: #ffffff; }

/* line 318, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.btn-contact-animation {
  position: fixed;
  width: 80px;
  height: 80px;
  opacity: 0;
  right: 25px;
  bottom: 30px;
  background: #fff;
  border-radius: 100%; }
  /* line 328, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-contact-animation.opened {
    z-index: 80;
    animation-name: btn-open;
    animation-duration: 0.5s;
    animation-fill-mode: forwards; }
  /* line 335, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-contact-animation.closed {
    z-index: 80;
    animation-name: btn-close;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: reverse; }

/*  
    ========== КЕЙСЫ ============
*/
/* line 349, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.btn-case-animation.opened {
  z-index: 80;
  animation-name: btn-case-opening;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  background: #ffffff;
  color: #ffffff; }
  /* line 356, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-case-animation.opened:hover {
    color: #ffffff;
    background: #ffffff; }

/* line 362, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
.btn-case-animation.closed {
  z-index: 80;
  animation-name: btn-case-opening;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-direction: reverse; }

/*
    ================================
*/
@media only screen and (min-width: 200px) {
  /* line 376, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .crossless, .mindg, .arahip {
    width: 60%;
    height: 60%; }
  /* line 381, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-case {
    width: 200px;
    height: 54px;
    margin-left: -110px; }
  /* line 387, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-triangle-right {
    width: 60px;
    height: 60px;
    line-height: 70px; }
    /* line 392, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
    .btn-triangle-right .icon {
      font-size: 30px;
      margin-bottom: 20px; }
  /* line 398, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-popup-close.opened {
    width: 60px;
    height: 60px;
    right: 30px;
    top: 40px; }
  /* line 405, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .logo {
    width: 150px;
    left: 25px; }
  /* line 410, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .about p {
    font-size: 50px; }
  /* line 416, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .text-normal {
    font-size: 40px; }
  /* line 420, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .text-in-write {
    font-size: 12pt; }
  /* line 424, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .text-obr {
    width: 200px;
    font-size: 12pt;
    margin: 10px;
    margin-top: 45px; }
  /* line 431, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .mail-obr {
    margin-top: 10px; }
  /* line 435, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-send {
    width: 200px;
    height: 54px; } }

@media only screen and (min-width: 500px) {
  /* line 442, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .crossless, .mindg, .arahip {
    width: 50%;
    height: 50%; }
  /* line 447, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-case {
    width: 240px;
    height: 54px;
    margin-left: -130px; }
  /* line 453, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-triangle-right {
    width: 80px;
    height: 80px;
    line-height: 90px; }
    /* line 458, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
    .btn-triangle-right .icon {
      font-size: 38px; }
  /* line 463, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-popup-close.opened {
    width: 80px;
    height: 80px;
    right: 40px;
    top: 30px; }
  /* line 470, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .logo {
    width: 200px;
    left: 50px; }
  /* line 475, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .about p {
    font-size: 50px; }
  /* line 480, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .text-normal {
    font-size: 40px; }
  /* line 484, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .text-in-write {
    font-size: 12pt; }
  /* line 488, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .text-obr {
    width: 250px;
    font-size: 15pt;
    margin: 10px;
    margin-top: 45px; }
  /* line 495, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .mail-obr {
    margin-top: 10px; }
  /* line 499, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-send {
    width: 240px;
    height: 54px; } }

@media only screen and (min-width: 800px) {
  /* line 506, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .crossless, .mindg, .arahip {
    width: 60%;
    height: 60%; }
  /* line 513, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-case {
    width: 360px;
    height: 80px;
    margin-left: -175px;
    font-size: 35px; }
  /* line 520, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-triangle-right {
    width: 120px;
    height: 120px;
    line-height: 131px; }
    /* line 525, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
    .btn-triangle-right .icon {
      font-size: 50px; }
  /* line 530, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-popup-close.opened {
    width: 120px;
    height: 120px;
    right: 40px;
    top: 30px; }
  /* line 537, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .logo {
    width: 320px;
    left: 50px; }
  /* line 542, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .about p {
    font-size: 55px; }
  /* line 547, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .text-normal {
    font-size: 80px;
    /*margin-top: 340px*/ }
  /* line 552, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .text-in-write {
    font-size: 30pt; }
  /* line 556, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .container {
    margin-top: 130px; }
  /* line 560, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .text-obr {
    width: 250px;
    font-size: 15pt;
    margin: 20px;
    margin-top: 45px; }
  /* line 567, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .mail-obr {
    margin-top: 10px; }
  /* line 571, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-send {
    width: 360px;
    height: 80px;
    font-size: 35px; }
  /* line 577, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .about-background.opened {
    z-index: 81;
    animation-name: about-background-opened-mob;
    animation-duration: 0.6s;
    animation-fill-mode: forwards; }
  /* line 584, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .about-background.closed {
    z-index: 81;
    animation-name: about-background-closed-mob;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-direction: reverse; }
  /* line 592, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .profile {
    height: 450px;
    width: 850px;
    margin: 65px;
    margin-top: 50px; }
  /* line 599, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .photo {
    width: 250px;
    height: 250px;
    margin-top: 60px;
    margin-left: 55px; }
  /* line 606, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .name-prof {
    font-size: 40px;
    margin-top: -220px;
    margin-left: 280px; }
  /* line 612, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .text-prof {
    font-size: 30px;
    margin-left: 280px;
    margin-top: 40px; }
  /* line 618, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .social {
    bottom: -15px;
    height: 100px;
    width: 250px;
    margin-left: 55px; }
  /* line 625, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .fa {
    width: 60px;
    font-size: 40px !important;
    margin-top: -20px; }
  /* line 631, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .form-group {
    margin-top: 3.25rem;
    margin-bottom: 3.25rem; }
  /* line 636, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .form-group input,
  .form-group textarea {
    padding: 1.125rem 0.125rem 0.0625rem;
    font-size: 30px; }
  /* line 643, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .control-label {
    font-size: 30px; }
  /* line 647, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .form-group input:focus ~ .control-label,
  .form-group input:valid ~ .control-label,
  .form-group textarea:focus ~ .control-label,
  .form-group textarea:valid ~ .control-label {
    font-size: 1.3rem; } }

@media only screen and (min-width: 1280px) {
  /* line 656, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .crossless, .mindg, .arahip {
    width: 30%;
    height: 30%; }
  /* line 661, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-case {
    width: 240px;
    height: 54px;
    margin-left: -130px;
    font-size: 14pt; }
  /* line 668, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-triangle-right {
    width: 80px;
    height: 80px;
    line-height: 90px; }
    /* line 673, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
    .btn-triangle-right .icon {
      font-size: 38px; }
  /* line 678, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-popup-close.opened {
    width: 80px;
    height: 80px;
    right: 40px;
    top: 30px; }
  /* line 685, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .logo {
    width: 200px;
    left: 50px; }
  /* line 690, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .about p {
    font-size: 30px; }
  /* line 696, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .text-normal {
    font-size: 55px;
    /*margin-top: 250px;*/ }
  /* line 701, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .text-in-write {
    font-size: 15pt; }
  /* line 705, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .container {
    margin-top: 50px; }
  /* line 709, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .text-obr {
    width: 350px;
    font-size: 15pt;
    margin: 20px;
    margin-top: 70px; }
  /* line 716, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .mail-obr {
    margin-top: 20px; }
  /* line 720, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .btn-send {
    width: 240px;
    height: 54px;
    font-size: 14pt; }
  /* line 726, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .about-background.opened {
    z-index: 81;
    animation-name: about-background-opened;
    animation-duration: 0.6s;
    animation-fill-mode: forwards; }
  /* line 733, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .about-background.closed {
    z-index: 81;
    animation-name: about-background-closed;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-direction: reverse; }
  /* line 741, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .profile {
    height: 250px;
    width: 650px;
    margin: 20px;
    margin-top: 30px; }
  /* line 748, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .photo {
    width: 150px;
    height: 150px;
    margin-top: 40px;
    margin-left: 55px; }
  /* line 755, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .name-prof {
    font-size: 25px;
    margin-top: -150px;
    margin-left: 140px; }
  /* line 761, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .text-prof {
    font-size: 20px;
    margin-left: 140px;
    margin-top: 40px; }
  /* line 767, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .social {
    bottom: -50px;
    height: 100px;
    width: 250px;
    margin-left: 10px; }
  /* line 774, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .fa {
    width: 30px;
    font-size: 25px !important;
    margin-top: 3px; }
  /* line 780, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .form-group {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem; }
  /* line 785, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .form-group input,
  .form-group textarea {
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem; }
  /* line 792, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .control-label {
    font-size: 1rem; }
  /* line 796, C:/OpenServer/domains/portf.ru/assets/css/base.scss */
  .form-group input:focus ~ .control-label,
  .form-group input:valid ~ .control-label,
  .form-group textarea:focus ~ .control-label,
  .form-group textarea:valid ~ .control-label {
    font-size: 0.8rem; } }

/*# sourceMappingURL=base.css.map */