@font-face {
  font-family: "DINPro";
  src: url("../fonts/DINPro.otf?#iefix") format("opentype");
  font-weight: normal;
  font-style: normal;
}

#section-0 {
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#section-1 {
  background-image: url(../img/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#section-2 {
  background-image: url(../img/3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.section {
  &:before {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
  }

  color: #fff;
}

p, label {
  font-size: 25pt;
  font-family: DINPro, GT Walsheim Pro, sans-serif;
  color: #fff;
  margin: 0;
}

h1 {
  font-size: 84px;
}

h2 {
  font-size: 46px;
}

h1, h2, h3, h4 {
  font-family: DINPro, GT Walsheim Pro, sans-serif;
}

.container {
  width: 500px;
  margin: 50px auto;
  margin-top: 50px;
}

.text-normal {
  font-weight: 300;
  /*margin-top: 150px;*/
  font-size: 52px;
  /*margin-bottom: 15px;*/
}

.text-in-write {
  color: black;
  font-size: 14pt;
  padding: 0 10px;
}

.text-obr {
  width: 350px;
  margin: 20px;
  margin-top: 70px;
  border: 0;
  border-bottom: 2px solid black;
  outline: 0;
  font-family: DINPro, sans-serif;
  font-size: 15pt;
  text-align: center;
  padding: 8px 9px;

  &:focus {
    border-bottom: 2px solid #337ab7;
  }
}

.mail-obr {
  margin-top: 20px;
}

textarea {
  width: 500px;
  height: 30px;
  border: 0;
  border-bottom: 1.5px solid black;
  outline: 0;
  font-family: DINPro, sans-serif;
  font-size: 15pt;
  padding: 8px 9px;

  &:focus {
    border: 0;
    border-bottom: 1.5px solid #337ab7;
  }
}

.btn-send {
  border: 0;
  border-radius: 35px;
  //position: absolute;
  //bottom: 50px;
  //left: 50%;
  //margin-left: -120px;
  width: 240px;
  height: 54px;
  text-decoration: none;
  font-family: GT Walsheim Pro;
  font-size: 14pt;
  transition: 0.5s;
  background: #337ab7;
  color: #fff;
  margin: 0 auto;
  outline: 0;

  &:hover {
    background: #337ab7;
    transition: 0.5s;
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: #fff;
}

.intro {
  display: table;
  width: 100%;
  margin-top: 0px;

  h1 {
    display: table-cell;
    vertical-align: middle;
  }
}

.btn-case {
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -130px;
}

.section {
  text-align: center;
}

.controlArrow {
  &.prev {
    left: 50px;
  }

  &.next {
    right: 50px;
  }
}

#infoMenu li a {
  color: #fff;
}

.btn-triangle-left {
  position: fixed;
  width: 0;
  height: 0;
  left: 0;
  top: 0;
  border-top: 400px solid rgba(255, 255, 255, 0.8);
  border-right: 400px solid transparent;
  z-index: 70;
}

.btn-triangle-right {
  position: fixed;
  width: 80px;
  height: 80px;
  background-color: #fff;
  right: 25px;
  bottom: 30px;
  border-radius: 100%;
  z-index: 70;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  text-align: center;
  line-height: 90px;

  &:hover {
    cursor: pointer;
  }

  .icon {
    font-size: 38px;
    vertical-align: middle;
  }

  &:hover {
    /*Покачивание
    -webkit-animation: swing 1.5s ease;
    animation: swing 1.5s ease;
    -webkit-animation-iteration-count: 2;
    animation-iteration-count: 2;*/
  }
}



.logo {
  position: fixed;
  z-index: 80;
  top: 50px;
  left: 50px;
}

.write {
  width: 70px;
  height: 70px;
  position: fixed;
  z-index: 80;
  right: 20px;
  bottom: 20px;
}

.btn-case {
  z-index: 11;
  width: 240px;
  height: 54px;
  text-decoration: none;
  font-family: GT Walsheim Pro;
  font-size: 14pt;
  outline: none;
  background-color: white;
  border-radius: 35px;
  border-style: none;
  margin-top: 300px;
  transition: 0.5s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    background-color: #337ab7;
  }
}

.crossless {
  width: 424.8px;
  height: 256.4px;
}

.mindg {
  width: 500px;
  height: 500px;
}

.arahip {
  width: 300px;
  height: 200px;
}

.contact-background {
  background: #fff;
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 0px;
  height: 0px;
  opacity: 0;
  border-top-left-radius: 100%;

  &.opened {
    z-index: 81;
    animation-name: contact-background-opened;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
  }

  &.closed {
    z-index: 81;
    animation-name: contact-background-closed;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
  }
}

.btn-shadow {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 0.5s;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #337ab7;
    transition: 0.5s;
    color: #ffffff;
  }
}

.btn-contact-animation {
  position: fixed;
  width: 80px;
  height: 80px;
  opacity: 0;
  right: 25px;
  bottom: 30px;
  background: #fff;
  border-radius: 100%;

  &.opened {
    z-index: 80;
    animation-name: btn-open;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  &.closed {
    z-index: 80;
    animation-name: btn-close;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
  }
}

/*  
    ========== КЕЙСЫ ============
*/

.btn-case-animation {  
  &.opened {
    z-index: 80;
    animation-name: btn-case-opening;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    background: #ffffff;
    color: #ffffff;
      &:hover {
        color: #ffffff;
        background: #ffffff;    
      }
  }

  &.closed {
    z-index: 80;
    animation-name: btn-case-opening;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
  }
}

/*
    ================================
*/

@media only screen and (min-width: 200px) {
  .crossless, .mindg, .arahip {
    width: 60%;
    height: 60%;
  }

  .btn-case {
    width: 200px;
    height: 54px;
    margin-left: -110px;
  }

  .btn-triangle-right {
    width: 60px;
    height: 60px;
    line-height: 70px;

    .icon {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }

  .btn-popup-close.opened {
    width: 60px;
    height: 60px;
    right: 30px;
    top: 40px;
  }

  .logo {
    width: 150px;
    left: 25px;
  }
    
   .about p {
        font-size: 50px;
        
    }


  .text-normal {
    font-size: 40px;
  }

  .text-in-write {
    font-size: 12pt;
  }

  .text-obr {
    width: 200px;
    font-size: 12pt;
    margin: 10px;
    margin-top: 45px;
  }

  .mail-obr {
    margin-top: 10px;
  }

  .btn-send {
    width: 200px;
    height: 54px;
  }
}

@media only screen and (min-width: 500px) {
  .crossless, .mindg, .arahip {
    width: 50%;
    height: 50%;
  }

  .btn-case {
    width: 240px;
    height: 54px;
    margin-left: -130px;
  }

  .btn-triangle-right {
    width: 80px;
    height: 80px;
    line-height: 90px;

    .icon {
      font-size: 38px;
    }
  }

  .btn-popup-close.opened {
    width: 80px;
    height: 80px;
    right: 40px;
    top: 30px;
  }

  .logo {
    width: 200px;
    left: 50px;
  }
    
   .about p {
        font-size: 50px;
        
    }

  .text-normal {
    font-size: 40px;
  }

  .text-in-write {
    font-size: 12pt;
  }

  .text-obr {
    width: 250px;
    font-size: 15pt;
    margin: 10px;
    margin-top: 45px;
  }

  .mail-obr {
    margin-top: 10px;
  }

  .btn-send {
    width: 240px;
    height: 54px;
  }
}

@media only screen and (min-width: 800px) {
  .crossless, .mindg, .arahip {
    width: 60%;
    height: 60%;
  }
    
  

  .btn-case {
    width: 360px;
    height: 80px;
    margin-left: -175px;
      font-size: 35px;
  }

  .btn-triangle-right {
    width: 120px;
    height: 120px;
    line-height: 131px;

    .icon {
      font-size: 50px;
    }
  }

  .btn-popup-close.opened {
    width: 120px;
    height: 120px;
    right: 40px;
    top: 30px;
  }

  .logo {
    width: 320px;
    left: 50px;
  }
    
    .about p {
        font-size: 55px;
        
    }
  
  .text-normal {
    font-size: 80px;
      /*margin-top: 340px*/
  }

  .text-in-write {
    font-size: 30pt;
  }
    
    .container {
        margin-top: 130px;
    }

  .text-obr {
    width: 250px;
    font-size: 15pt;
    margin: 20px;
    margin-top: 45px;
  }

  .mail-obr {
    margin-top: 10px;
  }

  .btn-send {
    width: 360px;
    height: 80px;
    font-size: 35px;
  }
    
    .about-background.opened {
        z-index: 81;
        animation-name: about-background-opened-mob;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
    }
    
    .about-background.closed {
        z-index: 81;
        animation-name: about-background-closed-mob;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
        animation-direction: reverse;
    }
  
  .profile {
    height: 550px;
    width: 500px;
    margin: 65px;
    margin-top: 50px;
    }
    
    .micky {
        margin-left: -570px;
        margin-top: 850px;
    }
    
    .dany {
        margin-bottom: 770px;
    }
    
     .photo {
    width: 270px;
    height: 270px;
    margin-top: -170px;
    margin-left: 114px;
 }
    
    .name-prof {
    font-size: 40px;
    top: 80px;
 }
    
      .text-prof {
    font-size: 30px;
    top: 100px;
 }
    
       .social {
    bottom: -15px;
    height: 100px;
    width: 250px;
    margin-left: 125px;
 }
    
       .fa {
    width: 75px;
    font-size: 50px !important;
    margin-top: 0;
 }
    
    .form-group {
	margin-top: 3.25rem;
	margin-bottom: 3.25rem;
 }
    
    .form-group input,
	.form-group textarea {
		padding: 1.125rem 0.125rem 0.0625rem;
		font-size: 30px;
		
	}
    
    .control-label {
		font-size: 30px;
	}
    
    .form-group input:focus ~ .control-label,
    .form-group input:valid ~ .control-label,
    .form-group textarea:focus ~ .control-label,
    .form-group textarea:valid ~ .control-label {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 1280px) {
  .crossless, .mindg, .arahip {
    width: 30%;
    height: 30%;
  }
    
  .btn-case {
    width: 240px;
    height: 54px;
    margin-left: -130px;
      font-size: 14pt;
  }

  .btn-triangle-right {
    width: 80px;
    height: 80px;
    line-height: 90px;

    .icon {
      font-size: 38px;
    }
  }

  .btn-popup-close.opened {
    width: 80px;
    height: 80px;
    right: 40px;
    top: 30px;
  }
    
  .logo {
    width: 200px;
    left: 50px;
  }
    
     .about p {
        font-size: 30px;
        
    }


  .text-normal {
    font-size: 55px;
      /*margin-top: 250px;*/
  }

  .text-in-write {
    font-size: 15pt;
  }
    
  .container {
        margin-top: 50px;
    }

  .text-obr {
    width: 350px;
    font-size: 15pt;
    margin: 20px;
    margin-top: 70px;
  }

  .mail-obr {
    margin-top: 20px;
  }

  .btn-send {
    width: 240px;
    height: 54px;
    font-size: 14pt;
  }
    
  .about-background.opened {
        z-index: 81;
        animation-name: about-background-opened;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
    }
    
    .about-background.closed {
        z-index: 81;
        animation-name: about-background-closed;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
        animation-direction: reverse;
    }
    
  .profile {
    height: 350px;
    width: 300px;
    margin: 20px;
    margin-top: 30px;
  }
    
  .photo {
    width: 200px;
    height: 200px;
    margin-top: -120px;
    margin-left: 50px;
 }
    
  .name-prof {
    font-size: 25px;
    top: 80px;
 }
    
    .text-prof {
    font-size: 20px;
    top: 90px;
 }
    
    .social {
    bottom: -50px;
    height: 100px;
    width: 250px;
    margin-left: 25px;
 }
    
    .fa {
    width: 30px;
    font-size: 25px !important;
    margin-top: 3px;
 }
    
    .form-group {
	margin-top: 2.25rem;
	margin-bottom: 2.25rem;
 }
    
    .form-group input,
	.form-group textarea {
		padding: 0.125rem 0.125rem 0.0625rem;
		font-size: 1rem;
		
	}
    
    .control-label {
		font-size: 1rem;
	}
    
    .form-group input:focus ~ .control-label,
    .form-group input:valid ~ .control-label,
    .form-group textarea:focus ~ .control-label,
    .form-group textarea:valid ~ .control-label {
        font-size: 0.8rem;
    }
}