@font-face {
  font-family: "DINPro";
  src:url("../fonts/DINPro.otf?#iefix") format("opentype");
  font-weight: normal;
  font-style: normal;

}

#section-0 {
    background-color: #67dec3 !important;
}

.cube_cross {
    position: absolute;
    z-index: -10;
    width: 300px;
    height: 300px;
    animation-name: motion-cross;
    animation-duration: 3s;
}

#section-1 {
    background-color: #fffc0a !important;
}

#section-2 {
    background-color: #b59ed4 !important;
}

.section:before {
    content: " ";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.section {
    color: #1f1f1f;
}

p {
    font-size: 25pt;
    font-family: DINPro, GT Walsheim Pro, sans-serif;
    color: #1f1f1f;
    margin: 0;
}

h1 {
    font-size: 84px;
}
h2 {
    font-size: 46px;
}

h1, h2, h3, h4 {
    font-family: DINPro, GT Walsheim Pro, sans-serif;
}

.text-normal {
    font-weight: 300;
    margin-top: 150px;
    font-size: 55px;
    margin-bottom: 15px;
}

.text-in-write {
    color: black;
    font-size: 15pt;
    padding: 0 10px;
}

.text-obr {
    width: 350px;
    margin: 20px;
    margin-top: 70px;
    border: 0;
    border-bottom: 2px solid black;
    outline: 0;
    font-family: DINPro, sans-serif;
    font-size: 15pt;
    text-align: center;
    padding: 8px 9px;
}

.text-obr:focus {
    border-bottom: 2px solid #B18340;
    
}

.mail-obr {
    margin-top: 20px;
}

textarea {
    width: 350px;
    height: 200px;
    margin: 40px 20px;
    border: 2px solid black;
    outline: 0;
    font-family: DINPro, sans-serif;
    font-size: 15pt;
    padding: 8px 9px;
}

textarea:focus {
    border: 2px solid #B18340;
}

.btn-send {
    border: 2px solid black;
    border-radius: 35px;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin-left: -120px;
    width: 240px;
    height: 54px;
    background: #fff;
    text-decoration: none;
    font-family: GT Walsheim Pro;
    font-size: 14pt;
    transition: 0.5s;
}

.btn-send:hover {
    background: #B18340;
    transition: 0.5s;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #fff;
}

.intro {
    display: table;
    width: 100%;
    margin-top: 0px;
}

.intro h1 {
    display: table-cell;
    vertical-align: middle;
}

.go_to {
    position: absolute;
    margin-top: 700px;
    left: 50%;
    margin-left: -130px;
}

.go_to {
	border: 5px #1f1f1f solid;
	display: block;
	font-family: GT Walsheim Pro;
	font-size: 14pt;
    letter-spacing: 0.1rem;
	padding: 1rem;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
    background: #fffc0a;
    width: 240px;
    height: 65px;
    transition: transform 0.2s ease;
}

.mindg_to {
    background: #b59ed4;
}

.arahip_to {
    background: #0883c8;
}

.go_to:hover {
    transform: translate(-3px, 3px);
}

.go_to::before {
	content: "";
	box-shadow: -0.5px 0.5px 0 #1f1f1f, -1px 1px 0 #1f1f1f, -1.5px 1.5px 0 #1f1f1f, -2px 2px 0 #1f1f1f, -2.5px 2.5px 0 #1f1f1f, -3px 3px 0 #1f1f1f, -3.5px 3.5px 0 #1f1f1f, -4px 4px 0 #1f1f1f, -4.5px 4.5px 0 #1f1f1f, -5px 5px 0 #1f1f1f; 
	position: absolute;
	top: 0;
	left: 0;
	height: 65px;
	width: 240px;
	transform: translate(-5px, -5px);
	transition: transform 0.2s ease, box-shadow 0.2s ease;
	
	z-index: -1;
}

.go_to:hover::before {
	box-shadow: none;
	transform: translate(-5px, -5px);
}

.crossless {
    position: absolute;
    left: 27%;
    margin-top: 100px;
    width: 850px;
    height: 500px;
    background: #fffc0a;
    border: 7px solid #1f1f1f;
    box-shadow: -0.5px 0.5px 0 #1f1f1f, -1px 1px 0 #1f1f1f, -1.5px 1.5px 0 #1f1f1f, -2px 2px 0 #1f1f1f, -2.5px 2.5px 0 #1f1f1f, -3px 3px 0 #1f1f1f, -3.5px 3.5px 0 #1f1f1f, -4px 4px 0 #1f1f1f, -4.5px 4.5px 0 #1f1f1f, -5px 5px 0 #1f1f1f, -5.5px 5.5px 0 #1f1f1f, -6px 6px 0 #1f1f1f, -6.5px 6.5px 0 #1f1f1f, -7px 7px 0 #1f1f1f; 
}

.mindg {
    position: absolute;
    left: 27%;
    margin-top: 100px;
    width: 850px;
    height: 500px;
    background: #b59ed4;
    border: 7px solid #1f1f1f;
    box-shadow: -0.5px 0.5px 0 #1f1f1f, -1px 1px 0 #1f1f1f, -1.5px 1.5px 0 #1f1f1f, -2px 2px 0 #1f1f1f, -2.5px 2.5px 0 #1f1f1f, -3px 3px 0 #1f1f1f, -3.5px 3.5px 0 #1f1f1f, -4px 4px 0 #1f1f1f, -4.5px 4.5px 0 #1f1f1f, -5px 5px 0 #1f1f1f, -5.5px 5.5px 0 #1f1f1f, -6px 6px 0 #1f1f1f, -6.5px 6.5px 0 #1f1f1f, -7px 7px 0 #1f1f1f; 
}

.arahip {
    position: absolute;
    left: 27%;
    margin-top: 100px;
    width: 850px;
    height: 500px;
    background: #0883c8;
    border: 7px solid #1f1f1f;
    box-shadow: -0.5px 0.5px 0 #1f1f1f, -1px 1px 0 #1f1f1f, -1.5px 1.5px 0 #1f1f1f, -2px 2px 0 #1f1f1f, -2.5px 2.5px 0 #1f1f1f, -3px 3px 0 #1f1f1f, -3.5px 3.5px 0 #1f1f1f, -4px 4px 0 #1f1f1f, -4.5px 4.5px 0 #1f1f1f, -5px 5px 0 #1f1f1f, -5.5px 5.5px 0 #1f1f1f, -6px 6px 0 #1f1f1f, -6.5px 6.5px 0 #1f1f1f, -7px 7px 0 #1f1f1f; 
}

.zagolovok {
    position: absolute;
    width: 650px;
    height: 400px;
    background: white;
    left: 10.5%;
    top: 8%;
    border: 7px solid #1f1f1f;
   
}

.section {
    text-align: center;
}

/* Стрелки для слайдера
.controlArrow.prev {
    left: 50px;
}

.controlArrow.next {
    right: 50px;
}*/

#infoMenu li a {
    color: #fff;
}

.btn-triangle-left {
    position: fixed;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    border-top: 400px solid rgba(255, 255, 255, 0.8);
    border-right: 400px solid transparent;
    z-index: 70;
}

.btn-triangle-right {
    position: fixed;
    width: 80px;
    height: 80px;
    background-color: #fff;
    right: 25px;
    bottom: 30px;
    border-radius: 100%;
    z-index: 70;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    text-align: center;
    line-height: 90px;
}

.btn-triangle-right:hover {
    cursor: pointer;
}

.btn-triangle-right .icon {
    font-size: 38px;
    vertical-align: middle;
}


.about {
    right: 25px;
    top: 50px;
    position: fixed;
    z-index: 70;
}

.about p {
    font-size: 30px;
    margin-right: 16px
}



.logo {
    position: fixed;
    z-index: 80;
    top: 50px;
    left: 50px;
}

.write {
    width: 70px;
    height: 70px;
    position: fixed;
    z-index: 80;
    right: 20px;
    bottom: 20px;
}

/*.go_to {
    z-index: 11;
    width: 240px;
    height: 54px;
    
    text-decoration: none;
    font-family: GT Walsheim Pro;
    font-size: 14pt;
    outline: none;
    background-color: white;
    border-radius: 35px;
    border-style: none;
    margin-top: 300px;
    transition: 0.5s;
    cursor: pointer;
}*/

/*.go_to:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    background-color: #B18340;
}*/






.contact-background {
    background: #fff;
    position: fixed;
    right: 0px;
    bottom: 0px;
    width: 0px;
    height: 0px;
    opacity: 0;
    border-top-left-radius: 100%;
}

.contact-background.opened {
    z-index: 81;
    animation-name: contact-background-opened;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
}

.contact-background.closed {
    z-index: 81;
    animation-name: contact-background-closed;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

/*.btn-shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 0.5s;
}*/

/*.btn-shadow:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    background-color: #B18340;
    transition: 0.5s;
}*/

.btn-contact-animation {
    position: fixed;
    width: 80px;
    height: 80px;
    opacity: 0;
    right: 25px;
    bottom: 30px;
    background: #fff;
    border-radius: 100%;
}

.btn-contact-animation.opened {
    z-index: 80;
    animation-name: btn-open;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;   
}

.btn-contact-animation.closed {
    z-index: 80;
    animation-name: btn-close;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}

.btn-contact.opened {

}

.btn-order-close {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 40px;
    top: 30px;
    opacity: 0.7;
    border-radius: 100%;
    background: #fff;
    border: 2px solid #000;
    -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -o-transition: all 0.5s;
     transition: all 0.5s;
}

.btn-order-close.opened {
    width: 80px;
    height: 80px;
}

.btn-order-close:hover {
    background: #B18340;
    cursor: pointer;
}

.contact-background .header {
    width: 100%;
    text-align: center;
}

.x {
    position: relative;
    left: 50%;
    margin-left: -26px;
    margin-top: -24px;
    top: 50%;
}

.x::before, .x::after {
  content: "";
  border-style: solid;
  border-color: #000;
  border-width: 0px 2px 2px 0px;
  height: 20px;  width: 20px;
  position: absolute; 
    top: -10px; 
    left: 15px;
  transform: rotate(45deg); 
}
.x::before {
    border-width: 0px 2px 2px 0px;
    top: 0px;
}
.x::after {
    border-width: 2px 0px 0px 2px;
    top: 28px;
}

#fp-nav ul li, .fp-slidesNav ul li {
    display: block;
    width: 14px !important;
    height: 14px !important;
    margin: 20px 10px;
    position: relative;
}

#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
    height: 17px !important;
    width: 17px !important;
    margin: -3px 0 0 -3px;
    border: 3px solid #1f1f1f;
    background: #fffc0a;
    box-shadow: 0.5px 0.5px 0 #1f1f1f, 1px 1px 0 #1f1f1f, 1.5px 1.5px 0 #1f1f1f, 2px 2px 0 #1f1f1f;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    height: 14px !important;
    width: 14px !important;
    border: 3px solid #1f1f1f;
    background: transparent;    
}

#fp-nav ul li .fp-tooltip {
    top: 5px;   
}

@keyframes btn-open {
    to {
        opacity: 0.3;
        transform: scale(10,10);
    }
}

@keyframes contact-background-opened {
  to {
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 0;
  }
}

@keyframes btn-close {
    to {
        opacity: 0.3;
        transform: scale(10,10);
    }
}

@keyframes contact-background-closed {
  to {
    width: 100%;
    height: 100%;
    opacity: 1;
    border-radius: 0;
  }
}

@keyframes motion-cross {
    from {
        object-position: 0 0;
    }
    to {
        object-position: 300px 100px; 
    }
}



@media only screen and (min-width: 200px){



  
    .btn-triangle-right {
        width: 60px;
        height: 60px;
        line-height: 70px;
    }
    .btn-triangle-right .icon {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .btn-order-close.opened {
        width: 60px;
        height: 60px;
        right: 30px;
        top: 40px;
    }
    .logo {
        width: 150px;
        left: 25px;
    }
    .about p {
        font-size: 25px;
    }
    .text-normal {
        font-size: 40px;
    }
    .text-in-write {
        font-size: 12pt;
    }
    .text-obr {
        width: 200px;
        font-size: 12pt;
        margin: 10px;
        margin-top: 45px;
    }
    textarea {
        width: 200px;
        height: 100px;
        font-size: 12pt;
        margin: 20px 10px;
    }
    .mail-obr {
        margin-top: 10px;
    }
    .btn-send {
        width: 200px;
        height: 54px;
        margin-left: -100px;
    }
}
         
@media only screen and (min-width: 500px) {



  
    .btn-triangle-right {
        width: 80px;
        height: 80px;
        line-height: 90px;
    }
    .btn-triangle-right .icon {
        font-size: 38px;
    }
    .btn-order-close.opened {
        width: 80px;
        height: 80px;
        right: 40px;
        top: 30px;
    }
    .logo {
        width: 200px;
        left: 50px;
    }
    .about p {
        font-size: 30px;
    }
    .text-normal {
        font-size: 40px;
    }
    .text-in-write {
        font-size: 12pt;
    }
    .text-obr {
        width: 250px;
        font-size: 15pt;
        margin: 10px;
        margin-top: 45px;
    }
    textarea {
        width: 250px;
        height: 150px;
        font-size: 15pt;
        margin: 20px 10px;
    }
    .mail-obr {
        margin-top: 10px;
    }
    .btn-send {
        width: 240px;
        height: 54px;
        margin-left: -120px;
    }
}

@media only screen and (min-width: 800px) {




    .btn-triangle-right {
        width: 80px;
        height: 80px;
        line-height: 90px;
    }
    .btn-triangle-right .icon {
        font-size: 38px;
    }
    .btn-order-close.opened {
        width: 80px;
        height: 80px;
        right: 40px;
        top: 30px;
    }
    .logo {
        width: 200px;
        left: 50px;
    }
    .about p {
        font-size: 30px;
    }
    .text-normal {
        font-size: 40px;
    }
    .text-in-write {
        font-size: 12pt;
    }
    .text-obr {
        width: 250px;
        font-size: 15pt;
        margin: 20px;
        margin-top: 45px;
    }
    textarea {
        width: 250px;
        height: 150px;
        font-size: 15pt;
        margin: 20px 10px;
    }
    .mail-obr {
        margin-top: 10px;
    }
    .btn-send {
        width: 240px;
        height: 54px;
        margin-left: -120px;
    }
}
         
@media only screen and (min-width: 1280px) {




    .btn-triangle-right {
        width: 80px;
        height: 80px;
        line-height: 90px;
    }
    .btn-triangle-right .icon {
        font-size: 38px;
    }
    .btn-order-close.opened {
        width: 80px;
        height: 80px;
        right: 40px;
        top: 30px;
    }
    .logo {
        width: 200px;
        left: 50px;
    }
    .about p {
        font-size: 30px;
    }
    .text-normal {
        font-size: 55px;
    }
    .text-in-write {
        font-size: 15pt;
    }
    .text-obr {
        width: 350px;
        font-size: 15pt;
        margin: 20px;
        margin-top: 70px;
    }
    textarea {
        width: 350px;
        height: 200px;
        font-size: 15pt;
        margin: 40px 20px;
    }
    .mail-obr {
        margin-top: 20px;
    }
    .btn-send {
        width: 240px;
        height: 54px;
        margin-left: -120px;
    }
}
